/* 
    RESET
*/

:root {
    --main-color: #0084fd;
    --light-main-color: #b5ddff;
    --secondary-color: #9792e4;
    --special-color: #fdc15f;
    --dark-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: sans-serif;
}

.container {
    max-width: 992px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.flex-elements {
    display: flex;
}