@import "reset-and-common.css";


/*
    HEADER
*/
header {
    background-color: var(--main-color);
    color: white;
}
header .header-navbar {
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
}
header .header-navbar .header-links {
    display: none;
}
header .header-navbar .hamburger button{
    background-color: var(--main-color);
    padding: 1rem 0 1rem 0.5rem;
    border: none;
    font-size: 1.3em;
    color: white;
}
header .header-navbar .header-links a{
    color: white;
    text-decoration: none;
}
header .header-navbar .header-links a:not(:last-child){
    margin-right: 1.25rem;
    line-height: 4rem;
}
header .header-navbar .header-links a:last-child{
    background-color: white;
    color: black;
}

/*
    MAIN
*/

/* main-info section */
main .main-info {
    padding: 1.25rem 0;
}
main .main-info .cards {
    flex-wrap: wrap;
}
main .main-info .card {
    background-color: var(--light-main-color);
    width: 100%;
    margin: .625rem 0;
    padding: 1.875rem 1.25rem;
    border-radius: 20px;
    text-align: center;
}
main .main-info .card > i{
    font-size: 5em;
    color: var(--main-color);
    margin-bottom: 2rem;
}
main .main-info .card a.link-button {
    background-color: var(--main-color);
    padding: .625rem 3rem;
    margin: 1.2rem 0;
}
main .main-info .card.double {
    flex-wrap: wrap;
    padding: 1.875rem 1.25rem 0 1.25rem;
    text-align: start;
}
main .main-info .card h4 {
    color: var(--main-color);
    margin-bottom: 2rem;
}
main .main-info .card .card-right {
    align-self: flex-end;
}
main .main-info .card .card-right img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

/* strategic plannign section */
main .strategic-planning {
    background-color: var(--secondary-color);
    padding: 3.125rem 0;
}
main .strategic-planning .flex-elements .left {
    margin-bottom: 3.125rem;
    color: white;
}
main .strategic-planning .flex-elements .left img {
    width: 100%;
}
main .strategic-planning .flex-elements .left h3 {
    margin: 3rem 0 2rem;
}
main .strategic-planning .flex-elements .right {
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
}
main .strategic-planning .flex-elements .right img {
    width: 100%;
}
main .strategic-planning .flex-elements .right h4 {
    margin: 2rem 0;
}
main .strategic-planning .flex-elements .right i {
    line-height: 25px;
}
main .strategic-planning .flex-elements .right a.link-button {
    display: block;
    background-color: var(--secondary-color);
    height: 50px;
    width: 50px;
    margin: 0 auto;
    line-height: calc(50px - 1.25rem);
    margin-top: 2rem;
}



/* testimonials */
main .testimonials {
    padding: 3.125rem 0;
    text-align: center;
}
main .testimonials h2 {
    color: var(--secondary-color);
    margin: 1rem;
}
main .testimonials .cards .card {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 1.25rem 1.25rem;
    margin: 1.25rem 0;
    justify-content: center;
    color: white;  
}
main .testimonials .cards .card .card-photo {
    width: 150px;
    height: 150px;
    margin-bottom: 1.25rem;
}
main .testimonials .cards .card .card-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
main .testimonials .cards .card .card-content p{
    margin-bottom: 1.5rem;
}
main .testimonials .cards .card .card-content p::before{
    font-family: 'FontAwesome';
    content: "\f10d";
    position: relative;
    bottom: 5px;
    margin-right: 5px;
}
main .testimonials .cards .card .card-content p::after{
    font-family: 'FontAwesome';
    content: "\f10e";
    position: relative;
    top: 5px;
    margin-left: 5px;
}

/* benefit */
main .benefit {
    background-color: var(--secondary-color);
    padding: 3.125rem 0;
}
main .benefit .container > h2 {
    color: white;
    text-align: center;
    margin-bottom: 3.125rem;
}
main .benefit .cards {
    flex-wrap: wrap;
}
main .benefit .cards .card {
    background-color: white;
    color: var(--secondary-color);
    width: 100%;
    margin: .625rem 0;
    padding: 1.875rem 1.25rem;
    border-radius: 20px;
}
main .benefit .cards .card h4 {
    margin: 1.25rem 0;
}
main .benefit .cards .card p {
    color: var(--dark-color);
}
main .benefit .cards .card a.link-button {
    color: white;
    background-color: var(--secondary-color);
    font-weight: bold;
    margin-top: 1.875rem;
    font-size: 1.1rem;
    padding: .625rem 3rem;
}

/* about us */
main .about-us {
    padding: 3.125rem 0;
}
main .about-us .flex-elements > * {
    width: 100%;
}
main .about-us .flex-elements .content {
    margin-bottom: 3.125rem;
}
main .about-us .flex-elements .content h2.special {
    color: var(--secondary-color);
}
main .about-us .flex-elements .content p:first-of-type {
    margin: 2.5rem 0;
}
main .about-us .flex-elements .profile .profile-photo {
    position: relative;
    width: 60%;
}
main .about-us .flex-elements .profile .profile-photo img {
    width: 100%;
    border-radius: 50%;
}
main .about-us .flex-elements .profile .profile-photo i {
    position: absolute;
    top: 0;
    right: 0rem;
    font-size: 4.6875rem;
    color: var(--secondary-color);
}
main .about-us .flex-elements .profile h4 {
    color: var(--secondary-color);
    margin: 1.875rem 0;
}
main .about-us .flex-elements .profile a.link-button {
    background-color: var(--secondary-color);
    padding: .625rem .9375rem;
}



/* get started */
main .get-started {
    background-color: var(--secondary-color);
    padding: 1.25rem 0;
    text-align: center;
    color: white;
}
main .get-started .container > * {
    margin: 2rem 0;
}
main .get-started .container h2.special {
    color: #fdc15f;
}

main .get-started .container span:first-child {
    text-transform: uppercase;
    color: #cac8f0;
}

main .get-started .container a.link-button {
    display: block;
    background-color: white;
    color: var(--secondary-color);
    width: 60%;
    margin: 2rem auto;
    padding: 2rem;
    font-size: 1.3em;
}
main .get-started .container a:not(.link-button) {
    color: white;
}

/*
    FOOTER
*/
footer {
    background-color: var(--dark-color);
    color: white;
    padding: 1.875rem 0;
    text-align: center;
}
footer p:first-child {
    margin-bottom: 4rem;
}
footer a {
    color: var(--secondary-color);
}


/* MEDIA QUERY */

/* tablet */
@media screen and (min-width: 768px) {
    main .main-info .cards {
        margin: 0 -0.625rem;
    }
    main .main-info .card {
        width: calc((100% / 3) - 1.25rem);
        margin: .625rem .625rem;
    }
    main .main-info .card.double {
        flex-wrap: wrap;
        width: calc((100% / 3) * 2  - 1.25rem);
    }
    main .main-info .card .card-right img {
        width: 50%;
        margin: 0;
    }

    main .testimonials .cards {
        text-align: start;
    }
    main .testimonials .cards .card {
        align-items: center;
    }
    main .testimonials .cards .card .card-photo {
        margin-bottom: 0;
        margin-right: 1.25rem;
    }
    main .testimonials .cards .card .card-content {
        width: calc((100% - 150px) - 1.25rem);
    }

    main .benefit .cards {
        margin: 0 -0.625rem;
    }
    main .benefit .cards .card {
        width: calc((100% / 2) - 1.25rem);
        margin: .625rem .625rem;
    }

    main .about-us .flex-elements .content {
        width: calc(60% - 1.5625rem);
        margin-bottom: 0;
        margin-right: 3.125rem;
    }
    main .about-us .flex-elements .profile {
        width: calc(40% - 1.5625rem);
    }
    main .about-us .flex-elements .profile .profile-photo {
        width: 100%;
        margin: 0 auto;
    }

    main .get-started .container.c-small {
        padding: 0 10rem;
    }

    footer .c-small {
        max-width: 485px;
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    .c-small {
        padding: 0 10rem;
    }
    .pad {
        padding: 0 3rem;
    }

    header .header-navbar .hamburger {
        display: none;
    }
    header .header-navbar .header-links {
        display: block;
    }
    main .main-info .card .card-right img {
        width: 80%;
        margin: 0 auto;
    }


    main .desk-50 {
        width: 50%;
    }

    main .strategic-planning .flex-elements {
        justify-content: space-between;
        align-items: flex-end;
    }
    main .strategic-planning .desk-50 {
        width: calc(50% - 1rem);
    }
    main .strategic-planning .flex-elements .left {
        margin-bottom: 0;
    }
    main .strategic-planning .flex-elements .left h3 {
        margin: 6rem 0 3rem;
    }

    main .testimonials .cards .card .card-photo{
        margin-right: 2.5rem;
    }
    main .testimonials .cards .card .card-content {
        width: calc((100% - 150px) - 2.5rem);
        padding-right: 1.25rem;
    }

    main .benefit .cards {
        margin: 0 -0.625rem;
    }
    main .benefit .cards .card {
        width: calc((100% / 3) - 1.25rem);
        margin: .625rem .625rem;
    }

    main .about-us .flex-elements .content {
        width: calc(70% - 1.5625rem);
    }
    main .about-us .flex-elements .profile {
        width: calc(30% - 1.5625rem);
    }

    footer .c-small {
        max-width: 750px;
    }

}





/* DEBUG */
/* .debug main {
    background-color: brown;
    min-height: 100vh;
    margin-bottom: 3.125rem;
}
.debug main .strategic-planning .left,
.debug main .strategic-planning .right {
    border: 2px dotted black;
}  
.debug main .testimonials .card-photo {
    border-radius: 50%;
    border: 1px dotted black;
} */
.debug main .about-us .flex-elements > * {
    border: 1px dotted black;
}