@import "reset-and-common.css";


/* 
    HEADER
*/
header {
    background-color: var(--main-color);
    color: white;
}
header .header-navbar {
    position: sticky;
    top: 0;
    justify-content: space-between;
    line-height: 3rem;
}
header .header-navbar .header-links {
    display: none;
}


/* 
    MAIN
*/

/* main-info section */
main .main-info {
    padding: 1.25rem 0;
}
main .main-info .cards {
    flex-wrap: wrap;
}
main .main-info .card {
    background-color: var(--light-main-color);
    width: 100%;
    margin: .625rem 0;
    padding: 1.875rem 1.25rem;
    border-radius: 20px;
}
main .main-info .card.double {
    flex-wrap: wrap;
}

/* strategic plannign section */
main .strategic-planning {
    background-color: var(--secondary-color);
    padding: 1.25rem 0;
}
main .strategic-planning .flex-elements .right {
    background-color: white;
}

/* testimonials */
main .testimonials {
    padding: 1.25rem 0;
    text-align: center;
}
main .testimonials .cards .card {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 1.25rem .625rem;
    margin: 1.25rem 0;
    justify-content: center;
}
main .testimonials .cards .card .card-photo {
    margin-bottom: 1.25rem;
}



/* 
    FOOTER
*/
footer {
    background-color: var(--dark-color);
    color: white;
    padding: 1.875rem;
    text-align: center;
}


/* MEDIA QUERY */

/* tablet */
@media screen and (min-width: 768px) {


    main .main-info .cards {
        margin: 0 -0.625rem;
    }
    main .main-info .card {
        width: calc((100% / 3) - 1.25rem);
        margin: .625rem .625rem;
    }
    main .main-info .card.double {
        flex-wrap: wrap;
        width: calc((100% / 3) * 2  - 1.25rem);
    }
    
    main .testimonials .cards .card {
        align-items: center;
    }
    main .testimonials .cards .card .card-photo {
        width: 20%;
        margin-bottom: 0;
    }
    main .testimonials .cards .card .card-content {
        width: 80%;
    }

    footer .c-small {
        padding: 0 3.125rem;
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    header .header-navbar .hamburger {
        display: none;
    }
    header .header-navbar .header-links {
        display: block;
    }


    main .desk-50 {
        width: 50%;
    }

    main .strategic-planning .flex-elements {
        align-items: flex-end;
    } 


    footer .c-small {
        padding: 0 3.125rem;
    }
}





/* DEBUG */
/* .debug main {
    background-color: brown;
    min-height: 100vh;
    margin-bottom: 3.125rem;
} */
.debug main .strategic-planning .left,
.debug main .strategic-planning .right {
    border: 2px dotted black;
    height: 200px;
}
.debug main .strategic-planning .left {
    height: 300px;
}
.debug main .testimonials .card-photo span {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px dotted black;
}